<app-search></app-search>
<div class="cards">
  <div class="card" *ngFor="let recipe of recipes">
    <div class="image">
      <img src="{{recipe.image}}"/>
    </div>
    <div class="content">
      <h2>{{recipe.name}}</h2>
      <p>Look at this sleepiest pupper!</p>
    </div>
  </div>

  <div class="card is-loading">
    <div class="image"></div>
    <div class="content">
      <h2></h2>
      <p></p>
    </div>
  </div>

  <div class="card is-loading">
    <div class="image"></div>
    <div class="content">
      <h2></h2>
      <p></p>
    </div>
  </div>
</div>
